/*specificity For Status*/
/*Pseudo-element, Example*/
h1 {
    color: green;
}
/*Class,attributes and pseudo-class*/

[proof="Xd"]{
    color: blue;
}

.XS {
    color: black;
}

/*Identifier*/
#modified {
    color: brown;
}

/* Importan */

p {
    color: grey !important;
}

/* Metodology Bem */

.contact-form__input--active{
    color: blueviolet;
}

.contact-form__p-h2 {
    color: yellow;
}

/* Fixed Measures */

.contact-form {
    font-size: 25px;
}
.contact-form__h2 {
    font-size: 2em;
    font-family: 'Times New Roman';
    font-weight: 400px;
}