/*specificity For Status*/
/*Pseudo-element, Example*/
h1 {
    color: green;
}
/*Class,attributes and pseudo-class*/

[proof="Xd"]{
    color: blue;
}

.XS {
    color: black;
}

/*Identifier*/
#modified {
    color: brown;
}

/* Importan */

p {
    color: grey !important;
}

/* Metodology Bem */
